<html>
<head>
<title>
Home Page
</title>
</head>
<body>
<p>Welcome {{ user_name }}</p>
<form>
<button type="submit" formaction="/logout/">Logout</button>
 </form>
 <form>
 Want to see rank base branch prediction <button type="submit" formaction='/rank_based/'>Click Here!</button>
 </form>

<form>
<button type="submit" formaction="/updateProfile/">Update Your profile </button>
</form>

{% if user_name == 'siddharth' %}
<form method="POST" action="/updatecl/" >{% csrf_token %}
<input type="hidden" name="update" value="yes">
<input type="submit" value="Update your College List">
</form>
<form method="POST" action="/updaterl/" >{% csrf_token %}
<input type="hidden" name="update" value="yes">
<input type="submit" value="Update your Rank List">
</form>
{% endif %}

<form method='get' action="/CourseCol/">
<select  name='college'>
  <option value="none" >Choose the College</option>
  <option value="IIT Bhubaneswar">IIT Bhubaneswar</option>
  <option value="IIT Bombay">IIT Bombay</option>
  <option value="IIT Delhi">IIT Delhi</option>
  <option value="IIT Gandhinagar"  >IIT Gandhinagar</option>
  <option value="IIT Guwahati" >IIT Guwahati</option>
  <option value="IIT Hyderabad">IIT Hyderabad</option>
  <option value="IIT Indore" >IIT Indore</option>
  <option value="IIT Kanpur" >IIT Kanpur</option>
  <option value="IIT Kharagpur" >IIT Kharagpur</option>
  <option value="IIT Madras" >IIT Madras</option>
  <option value="IIT Mandi" >IIT Mandi</option>
  <option value="IIT Patna"  >IIT Patna</option>
  <option value="IIT Rajasthan" >IIT Rajasthan</option>
  <option value="IIT Roorkee">IIT Roorkee</option>
  <option value="IIT Ropar" >IIT Ropar</option>
  <option value="ISM Dhanbad"  >ISM Dhanbad</option>
  <option value="IT BHU" >IT BHU</option>
</select>
<input type="submit" value="Predict Branches by College">
</form>


<form method='get' action="/CourseBra/">
<select  name='branch'>
  <option value="none" >Choose the Department</option>          
            <option value="p3">Aerospace Engineering</option>
            <option value="p4">Aerospace Engineering with M.Tech. in Applied Mechanics with specialization in Biomedical Engineering</option>
            <option value="p5">Agricultural and Food Engineering</option>
            <option value="p6">Agricultural and Food Engineering with M.Tech. in any of the listed specializations</option>
            <option value="p7">Applied Geology</option>
            <option value="p8">Applied Geophysics</option>
            <option value="p9">Applied Mathematics</option>
            <option value="p10">Architecture</option>
            <option value="p11">Biochemical Engineering</option>
            <option value="p12">Biochemical Engineering and Biotechnology</option>
            <option value="p13">Bioengineering with M.Tech in Biomedical Technology</option>
            <option value="p14">Biological Engineering</option>
            <option value="p15">Biological Sciences</option>
            <option value="p16">Biological Sciences and Bioengineering</option>
            <option value="p17">Biotechnology</option>
            <option value="p18">Biotechnology and Biochemical Engineering</option>
            <option value="p19">Ceramic Engineering</option>
            <option value="p20">Chemical Engineering</option>
            <option value="p21">Chemical Engineering with M.Tech. in Hydrocarbon Engineering</option>
            <option value="p22">Chemical Science and Technology</option>
            <option value="p23">Chemistry</option>
            <option value="p24">Civil Engineering</option>
            <option value="p25">Civil Engineering (Infrastructural Civil Engineering)</option>
            <option value="p26">Civil Engineering with any of the listed specialization</option>
            <option value="p27">Civil Engineering with M.Tech. in Applied Mechanics in any of the listed specializations</option>
            <option value="p28">Civil Engineering with M.Tech. in Structural Engineering</option>
            <option value="p29">Computer Science and Engineering</option>
            <option value="p30">Design</option>
            <option value="p31">Economics</option>
            <option value="p32">Electrical Engineering</option>
            <option value="p33">Electrical Engineering (Power)</option>
            <option value="p34">Electrical Engineering with M.Tech in Applied Mechanics with specialization in Biomedical Engineering</option>
            <option value="p35">Electrical Engineering with M.Tech. in any of the listed specializations</option>
            <option value="p36">Electrical Engineering with M.Tech. in Communications and Signal Processing</option>
            <option value="p37">Electrical Engineering with M.Tech. in Information and Communication Technology</option>
            <option value="p38">Electrical Engineering with M.Tech. in Microelectronics</option>
            <option value="p39">Electrical Engineering with M.Tech. in Power Electronics</option>
            <option value="p40">Electronics and Communication Engineering</option>
            <option value="p41">Electronics and Communication Engineering with M.Tech. in Wireless Communication</option>
            <option value="p42">Electronics and Electrical Communication Engineering</option>
            <option value="p43">Electronics and Electrical Communication Engineering with M.Tech. in any of the listed specializations</option>
            <option value="p44">Electronics and Electrical Engineering</option>
            <option value="p45">Electronics Engineering</option>
            <option value="p46">Energy Engineering with M.Tech. in Energy Systems Engineering</option>
            <option value="p47">Engineering Design (Automotive Engineering)</option>
            <option value="p48">Engineering Design (Biomedical Design)</option>
            <option value="p49">Engineering Physics</option>
            <option value="p50">Engineering Physics with M.Tech. in Engineering Physics with specialization in Nano Science</option>
            <option value="p51">Engineering Science</option>
            <option value="p52">Environmental Engineering</option>
            <option value="p53">Exploration Geophysics</option>
            <option value="p54">Geological Technology</option>
            <option value="p55">Geophysical Technology</option>
            <option value="p56">Industrial Chemistry</option>
            <option value="p57">Industrial Engineering</option>
            <option value="p58">Industrial Engineering with M.Tech. in Industrial Engineering and Management</option>
            <option value="p59">Instrumentation Engineering</option>
            <option value="p60">Manufacturing Science and Engineering</option>
            <option value="p61">Manufacturing Science and Engineering with M.Tech. in Industrial Engineering and Management</option>
            <option value="p62">Material Science and Technology</option>
            <option value="p63">Materials Science and Engineering</option>
            <option value="p64">Mathematics and Computing</option>
            <option value="p65">Mathematics and Scientific Computing</option>
            <option value="p66">Mechanical Engineering</option>
            <option value="p67">Mechanical Engineering (Intelligent Manufacturing)</option>
            <option value="p68">Mechanical Engineering (Product design)</option>
            <option value="p69">Mechanical Engineering (Thermal Engineering)</option>
            <option value="p70">Mechanical Engineering with M.Tech. in any of the listed specializations</option>
            <option value="p71">Mechanical Engineering with M.Tech. in Computer Aided Design and Automation</option>
            <option value="p72">Mechanical Engineering with M.Tech. in Computer Integrated Manufacturing</option>
            <option value="p73">Metallurgical and Materials Engineering</option>
            <option value="p74">Metallurgical and Materials Engineering with M.Tech. in Materials Engineering</option>
            <option value="p75">Metallurgical and Materials Engineering with M.Tech. in Metallurgical and Materials Engineering</option>
            <option value="p76">Metallurgical Engineering</option>
            <option value="p77">Metallurgical Engineering and Materials Science</option>
            <option value="p78">Metallurgical Engineering and Materials Science with M.Tech. in Ceramics and Composites</option>
            <option value="p79">Metallurgical Engineering and Materials Science with M.Tech. in Metallurgical Process Engineering</option>
            <option value="p80">Mineral Engineering</option>
            <option value="p81">Mineral Engineering with M.Tech in Mineral Engineering</option>
            <option value="p82">Mineral Engineering with MBA</option>
            <option value="p83">Mining Engineering</option>
            <option value="p84">Mining Engineering with M.Tech. in Mining Engineering</option>
            <option value="p85">Mining Engineering with MBA</option>
            <option value="p86">Mining Machinery Engineering</option>
            <option value="p87">Mining Safety Engineering</option>
            <option value="p88">Naval Architecture and Ocean Engineering</option>
            <option value="p89">Naval Architecture and Ocean Engineering with M.Tech in Applied Mechanics in any of the listed specializations</option>
            <option value="p90">Ocean Engineering and Naval Architecture</option>
            <option value="p91">Petroleum Engineering</option>
            <option value="p92">Petroleum Engineering with M.Tech in Petroleum Management</option>
            <option value="p93">Pharmaceutics</option>
            <option value="p94">Physics</option>
            <option value="p95">Polymer Science and Technology</option>
            <option value="p96">Process Engineering with MBA</option>
            <option value="p97">Production and Industrial Engineering</option>
            <option value="p98">Pulp and Paper Engineering</option>
            <option value="p99">Quality Engineering Design and Manufacturing</option>
            <option value="p100">Systems Science</option>
            <option value="p101">Textile Technology</option>

   

  </select>
<input type="submit" value="Predict Branches by Department">
</form>


{% if list %}

<p>{{line1}} </p>
<p> {{college}}{{branch}}</p> 
  <tr></tr>
<table>
<tr>
{% if branch %}
<td>College name</td>
{% endif %}
<td>Branch Name </td>
<td>Course Code</td>
</tr>
  <tr></tr>
{% for a in list %}
  <tr>
  {% if branch %}
  <td>{{a.college_name}}</td>
  {% endif %}
  <td>
  {{a.branch_name}}
  </td>
  <td>
  {{a.code}}
  </td>
  </tr>
  <tr></tr>
{% endfor %}  
</table>
{% endif %}

<br>
<br>
<br>
<br>
{% if list1 %}

<p>{{line2 }}</p>
<p> {{a.college}}</p>
  <tr></tr>
<table>
<tr>
{% if branch %}
<td>College name</td>
{% endif %}
<td>Branch Name </td>
<td>Course Code</td>
</tr>
  <tr></tr>
{% for a in list1 %}
  <tr>
   {% if branch %}
  <td>{{a.college_name}}</td>
  {% endif %}
  <td>
  {{a.branch_name}}
  </td>
  <td>
  {{a.code}}
  </td>
  </tr>

{% endfor %}  

</table>
{% endif %}

{% if users %}
  <p>  No. of users logged in now: {{users|length}}</p>
  {% if users|length >= 2 %}
    <p> Average of General Rank of logged in users is {{avg}}</p>
    <p> Standard Deviation of General Rank of logged in users is {{std}}</p>
  {% endif %}
{% endif %}

</body>
</html>
