<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
		<meta charset="utf-8">
		{% load static %}
		<link href={% static "entrar_shadow-pack/css/style.css" %} rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } -->
		<script>
			function showform() {
    		document.getElementById("myForm").style.display="block";
			}
</script>

		</script>
		<!--webfonts-->
	<!--	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
	-->	<!--//webfonts-->
</head>
<body>
	 <!-----start-main---->
	 <div class="main">
		<div class="login-form">
			<h1>JEE Candidates Login</h1>
					<div class="head">
					{% load static %}	
						<img src="{% static 'images/user.png' %}" alt=""/>
					</div>
				<form action="/login/" method="post">
						{% csrf_token %}
						<input type="text" class="text" value="USERNAME" name="userID" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" >
						<input type="password" value="Password" name="passwd" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
						<div class="submit">

							<input type="submit"  value="LOGIN" >
						</div>	
					<p><a href="#" onclick="showform()">Forgot Password ?</a></p>
				</form>
	
				<form action="/security/" method="post" id="myForm" style="display:none">{% csrf_token %}
				<input type="text" class="text" value="USERNAME" name="id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" >
				<div class ="submit">	
				<input type="submit" name="submit" value="Retrieve Password">
				</div>
				</form>

			</div>
			<!--//End-login-form-->
			 <!-----start-copyright---->
   				
				<!-----//end-copyright---->
		</div>
			 <!-----//end-main---->
		 		
</body>
</html>