{%extends "base.html" %}



{%block meta %}<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >{%endblock%}
{%load static %}
{%block style %}<link rel="stylesheet" type="text/css" href="{% static "slickgray/style.css" %}"/>{%endblock%}
{%block body%}
<div id="container">
    
        
        <div id="menu">
          <ul>
              <li class="menuitem"><a  href="/homepage/">Homepage</a></li>
                <li class="menuitem"><a  href="/updateProfile/">Update Your profile </a></li>
                <li class="menuitem"><a href="/rank_based/">Rank Based prediction</a></li>
                {% if user_name == 'Superuser' %}
                <li class="menuitem"><a href="/updatecl/">Update College list</a></li>
                <li class="menuitem"><a href='/updaterl/'>Update Rank list</a></li>
                {% endif %}
                <li class="menuitem"><a href="/logout"/>Logout</a></li>

            </ul>
        </div>
        
        
        
    <div id="content">
        
        
        <div id="content_top"> <br><br>               
                    <a href="#"><form method='get' action="/CourseCol/">
<select  name='college'>
  <option value="none" >Choose the College</option>
  <option value="IIT Bhubaneswar">IIT Bhubaneswar</option>
  <option value="IIT Bombay">IIT Bombay</option>
  <option value="IIT Delhi">IIT Delhi</option>
  <option value="IIT Gandhinagar"  >IIT Gandhinagar</option>
  <option value="IIT Guwahati" >IIT Guwahati</option>
  <option value="IIT Hyderabad">IIT Hyderabad</option>
  <option value="IIT Indore" >IIT Indore</option>
  <option value="IIT Kanpur" >IIT Kanpur</option>
  <option value="IIT Kharagpur" >IIT Kharagpur</option>
  <option value="IIT Madras" >IIT Madras</option>
  <option value="IIT Mandi" >IIT Mandi</option>
  <option value="IIT Patna"  >IIT Patna</option>
  <option value="IIT Rajasthan" >IIT Rajasthan</option>
  <option value="IIT Roorkee">IIT Roorkee</option>
  <option value="IIT Ropar" >IIT Ropar</option>
  <option value="ISM Dhanbad"  >ISM Dhanbad</option>
  <option value="IT BHU" >IT BHU</option>
</select><br>
<input type="submit" value="Predict Branches by College">
</form>
</a><br>
                    <a href="#"><form method='get' action="/CourseBra/">
<select  name='branch'>
  <option value="none" >Choose the Department</option>          
            <option value="p3">Aerospace Engineering</option>
            <option value="p4">Aerospace Engineering with M.Tech. in Applied Mechanics with specialization in Biomedical Engineering</option>
            <option value="p5">Agricultural and Food Engineering</option>
            <option value="p6">Agricultural and Food Engineering with M.Tech. in any of the listed specializations</option>
            <option value="p7">Applied Geology</option>
            <option value="p8">Applied Geophysics</option>
            <option value="p9">Applied Mathematics</option>
            <option value="p10">Architecture</option>
            <option value="p11">Biochemical Engineering</option>
            <option value="p12">Biochemical Engineering and Biotechnology</option>
            <option value="p13">Bioengineering with M.Tech in Biomedical Technology</option>
            <option value="p14">Biological Engineering</option>
            <option value="p15">Biological Sciences</option>
            <option value="p16">Biological Sciences and Bioengineering</option>
            <option value="p17">Biotechnology</option>
            <option value="p18">Biotechnology and Biochemical Engineering</option>
            <option value="p19">Ceramic Engineering</option>
            <option value="p20">Chemical Engineering</option>
            <option value="p21">Chemical Engineering with M.Tech. in Hydrocarbon Engineering</option>
            <option value="p22">Chemical Science and Technology</option>
            <option value="p23">Chemistry</option>
            <option value="p24">Civil Engineering</option>
            <option value="p25">Civil Engineering (Infrastructural Civil Engineering)</option>
            <option value="p26">Civil Engineering with any of the listed specialization</option>
            <option value="p27">Civil Engineering with M.Tech. in Applied Mechanics in any of the listed specializations</option>
            <option value="p28">Civil Engineering with M.Tech. in Structural Engineering</option>
            <option value="p29">Computer Science and Engineering</option>
            <option value="p30">Design</option>
            <option value="p31">Economics</option>
            <option value="p32">Electrical Engineering</option>
            <option value="p33">Electrical Engineering (Power)</option>
            <option value="p34">Electrical Engineering with M.Tech in Applied Mechanics with specialization in Biomedical Engineering</option>
            <option value="p35">Electrical Engineering with M.Tech. in any of the listed specializations</option>
            <option value="p36">Electrical Engineering with M.Tech. in Communications and Signal Processing</option>
            <option value="p37">Electrical Engineering with M.Tech. in Information and Communication Technology</option>
            <option value="p38">Electrical Engineering with M.Tech. in Microelectronics</option>
            <option value="p39">Electrical Engineering with M.Tech. in Power Electronics</option>
            <option value="p40">Electronics and Communication Engineering</option>
            <option value="p41">Electronics and Communication Engineering with M.Tech. in Wireless Communication</option>
            <option value="p42">Electronics and Electrical Communication Engineering</option>
            <option value="p43">Electronics and Electrical Communication Engineering with M.Tech. in any of the listed specializations</option>
            <option value="p44">Electronics and Electrical Engineering</option>
            <option value="p45">Electronics Engineering</option>
            <option value="p46">Energy Engineering with M.Tech. in Energy Systems Engineering</option>
            <option value="p47">Engineering Design (Automotive Engineering)</option>
            <option value="p48">Engineering Design (Biomedical Design)</option>
            <option value="p49">Engineering Physics</option>
            <option value="p50">Engineering Physics with M.Tech. in Engineering Physics with specialization in Nano Science</option>
            <option value="p51">Engineering Science</option>
            <option value="p52">Environmental Engineering</option>
            <option value="p53">Exploration Geophysics</option>
            <option value="p54">Geological Technology</option>
            <option value="p55">Geophysical Technology</option>
            <option value="p56">Industrial Chemistry</option>
            <option value="p57">Industrial Engineering</option>
            <option value="p58">Industrial Engineering with M.Tech. in Industrial Engineering and Management</option>
            <option value="p59">Instrumentation Engineering</option>
            <option value="p60">Manufacturing Science and Engineering</option>
            <option value="p61">Manufacturing Science and Engineering with M.Tech. in Industrial Engineering and Management</option>
            <option value="p62">Material Science and Technology</option>
            <option value="p63">Materials Science and Engineering</option>
            <option value="p64">Mathematics and Computing</option>
            <option value="p65">Mathematics and Scientific Computing</option>
            <option value="p66">Mechanical Engineering</option>
            <option value="p67">Mechanical Engineering (Intelligent Manufacturing)</option>
            <option value="p68">Mechanical Engineering (Product design)</option>
            <option value="p69">Mechanical Engineering (Thermal Engineering)</option>
            <option value="p70">Mechanical Engineering with M.Tech. in any of the listed specializations</option>
            <option value="p71">Mechanical Engineering with M.Tech. in Computer Aided Design and Automation</option>
            <option value="p72">Mechanical Engineering with M.Tech. in Computer Integrated Manufacturing</option>
            <option value="p73">Metallurgical and Materials Engineering</option>
            <option value="p74">Metallurgical and Materials Engineering with M.Tech. in Materials Engineering</option>
            <option value="p75">Metallurgical and Materials Engineering with M.Tech. in Metallurgical and Materials Engineering</option>
            <option value="p76">Metallurgical Engineering</option>
            <option value="p77">Metallurgical Engineering and Materials Science</option>
            <option value="p78">Metallurgical Engineering and Materials Science with M.Tech. in Ceramics and Composites</option>
            <option value="p79">Metallurgical Engineering and Materials Science with M.Tech. in Metallurgical Process Engineering</option>
            <option value="p80">Mineral Engineering</option>
            <option value="p81">Mineral Engineering with M.Tech in Mineral Engineering</option>
            <option value="p82">Mineral Engineering with MBA</option>
            <option value="p83">Mining Engineering</option>
            <option value="p84">Mining Engineering with M.Tech. in Mining Engineering</option>
            <option value="p85">Mining Engineering with MBA</option>
            <option value="p86">Mining Machinery Engineering</option>
            <option value="p87">Mining Safety Engineering</option>
            <option value="p88">Naval Architecture and Ocean Engineering</option>
            <option value="p89">Naval Architecture and Ocean Engineering with M.Tech in Applied Mechanics in any of the listed specializations</option>
            <option value="p90">Ocean Engineering and Naval Architecture</option>
            <option value="p91">Petroleum Engineering</option>
            <option value="p92">Petroleum Engineering with M.Tech in Petroleum Management</option>
            <option value="p93">Pharmaceutics</option>
            <option value="p94">Physics</option>
            <option value="p95">Polymer Science and Technology</option>
            <option value="p96">Process Engineering with MBA</option>
            <option value="p97">Production and Industrial Engineering</option>
            <option value="p98">Pulp and Paper Engineering</option>
            <option value="p99">Quality Engineering Design and Manufacturing</option>
            <option value="p100">Systems Science</option>
            <option value="p101">Textile Technology</option>

   

  </select><br>
<input type="submit" value="Predict Branches by Department">
</form>
</a></div>
        <div id="content_main">
        <br><br><br><br><br><br><br><br><br><br>
        {% if list %}

<h2>{{line1}} </h2>
<h2> {{college}}{{branch}}</h2> 
  <tr></tr>
<table>
<tr>
{% if branch %}
<th>College name</th>
{% endif %}
<th>Branch Name </th>
<th>Course Code</th>
</tr>
  <tr></tr>
{% for a in list %}
  <tr>
  {% if branch %}
  <td>{{a.college_name}}</td>
  {% endif %}
  <td>
  {{a.branch_name}}
  </td>
  <td>
  {{a.code}}
  </td>
  </tr>
  <tr></tr>
{% endfor %}  
</table>
{% endif %}

<br>
<br>
<br>
<br>
{% if list1 %}

<h2>{{line2 }}</h2>
<h3> {{a.college}}</h3>
  <tr></tr>
<table>
<tr>
{% if branch %}
<th>College name</th>
{% endif %}
<th>Branch Name </th>
<th>Course Code</th>
</tr>
  <tr></tr>
{% for a in list1 %}
  <tr>
   {% if branch %}
  <td>{{a.college_name}}</td>
  {% endif %}
  <td>
  {{a.branch_name}}
  </td>
  <td>
  {{a.code}}
  </td>
  </tr>

{% endfor %}  

</table>
{% endif %}
<br>

{% if users %}
  <p>  No. of users logged in now: {{users|length}}</p>
  {% if users|length >= 10 %}
    <p> Average of General Rank of logged in users is {{avg}}</p>
    <p> Standard Deviation of General Rank of logged in users is {{std}}</p>
  {% endif %}
{% endif %}
{%endblock%}

          <!--<h2>You may use this template in any manner you like. All I ask is that you leave the link back to my site at the bottom of the page. </h2>
          <p>&nbsp;</p>
            <p>&nbsp;</p>
          <h3>Template Notes</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>&nbsp;</p>
<h3>More information</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>&nbsp;</p>
          <h3>Template Notes</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p></p>
<p>&nbsp;</p>
        -->