<html>
<head>
<title>
Update Your Profile
</title>
</head>
<body>
<form action="/updateit/" method="post">{% csrf_token %}
<p> UserId: <input type="text" name="name" value={{ name }} >  </p>
<p> Password: <input type="password" name="password" value={{ password }} >  </p>
<p> Security Question: <input type="text" name="question" value={{ question }} >  </p>
<p> Answer: <input type="text" name="answer" value={{ answer }} >  </p>
<input type="submit" name="submit" value="submit">
</form>
</body>
</html>


